.topContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}
.topContainer .topLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.topContainer .topLeft img {
  width: 250px;
  height: 250px;
}
.topContainer .topRight {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topContainer .topRight .topRightWrapper {
  width: 100%;
  height: 250px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
}
.topContainer .topRight .topRightWrapper p {
  color: lightgray;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.topContainer .topRight .topRightWrapper .list {
  margin-top: 30px;
}
.topContainer .topRight .topRightWrapper .btn {
  width: 100%;
  padding: 0;
  justify-content: left;
  margin-top: 40px;
}
.topContainer .topRight .topRightWrapper .btn ul {
  width: 70%;
  display: flex;
  padding: 0;
  margin-top: 30px;
}
.topContainer .topRight .topRightWrapper .btn ul li {
  list-style: none;
  padding: 0;
  margin-right: 20px;
}
.topContainer .topRight .topRightWrapper .listDescription {
  margin-top: 40px;
}

/*# sourceMappingURL=player.css.map */
