
.topContainer{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //border: 2px solid green;
  margin-bottom: 20px;
  padding: 0;

  .topLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;


    img{
      width: 250px;
      height: 250px;
      //border: 1px solid red;
    }
  }

  .topRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .topRightWrapper{
      width: 100%;
      height: 250px;
      padding: 10px 30px;
      display: flex;
      flex-direction: column;

      p{
        color: lightgray;
        font-size: 15px;
        font-weight: bold;
        margin: 0;

      }

      .list{
        margin-top: 30px;
      }

      .btn {
        width: 100%;
        //border: 1px solid green;
        padding: 0;
        justify-content: left;
        margin-top: 40px;

        ul{
          width: 70%;
          display: flex;
          //justify-content: space-between;
          padding: 0;
          margin-top: 30px;

          li{
            list-style: none;
            padding: 0;
            margin-right: 20px;
          }
        }
      }

      .listDescription{
        margin-top: 40px;
      }

    }
  }
}

