.playList {
  width: 100%;
  margin-top: 50px;
}
.playList .selected {
  width: 100%;
  height: 5vh;
  padding: 0;
  margin: 0;
  display: flex;
  cursor: pointer;
  background: pink;
}
.playList .selected .chkbox {
  width: 50px;
  height: 100%;
  padding: 0;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .selected .chkbox-2 {
  width: 50px;
  height: 100%;
  padding: 0;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .selected .btn {
  width: 50px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .selected .btn-2 {
  width: 50px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8edea;
}
.playList .selected .img {
  width: 80px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .selected .songDetails {
  width: 200px;
  height: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playList .selected .songDetails .div1 {
  font-size: 15px;
  font-weight: bold;
}
.playList .selected .songDetails .div2 {
  font-size: 10px;
}
.playList .selected .dropdownMenu {
  margin: 0;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.playList .selected .dropdownMenu #arrowMenu {
  width: 90px;
  height: 120px;
  background-color: #fff;
  position: relative;
  border: 2px solid #333;
}
.playList .selected .dropdownMenu #arrowMenu:after, .playList .selected .dropdownMenu #arrowMenu:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
.playList .selected .dropdownMenu #arrowMenu:after {
  border-width: 10px;
  border-left-color: #fff;
  top: 20px;
}
.playList .selected .dropdownMenu #arrowMenu:before {
  border-width: 12px;
  border-left-color: #000;
  top: 18px;
}
.playList .selected .dropdownMenu li {
  list-style: none;
  font-size: 10px;
}
.playList .selected .songLength {
  width: 70px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .selected .more {
  width: 70px;
  height: 100%;
  padding-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .songItem {
  width: 100%;
  height: 5vh;
  padding: 0;
  margin: 0 auto;
  display: flex;
}
.playList .songItem .chkbox {
  width: 50px;
  height: 100%;
  padding: 0;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .songItem .chkbox-2 {
  width: 50px;
  height: 100%;
  padding: 0;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .songItem .btn {
  width: 50px;
  height: 100%;
  padding: 0;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .songItem .btn-2 {
  width: 50px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rosybrown;
}
.playList .songItem .img {
  width: 80px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playList .songItem .songDetails {
  width: 170px;
  height: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playList .songItem .songDetails .div1 {
  font-size: 15px;
  font-weight: bold;
}
.playList .songItem .songDetails .div2 {
  font-size: 10px;
}
.playList .songItem .songLength {
  width: 200px;
  height: 100%;
  padding-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=playList.css.map */
