
.playList{
  width: 100%;
  margin-top: 50px;
  //margin:0 auto;
  //border: 2px solid red;
  //margin-top: 50px;

  //.songItem :hover{
  //  background: blue;
  //  cursor: pointer;
  //}
  //:hover{
  //  background: pink;
  //  cursor: pointer;
  //}
  .selected{
    width: 100%;
    height: 5vh;
    padding: 0;
    margin: 0;
    display: flex;
    //justify-content: space-evenly;
    cursor: pointer;
    background: pink;


    .chkbox{
      width: 50px;
      height: 100%;
      padding: 0;
      margin-left: 40px;
      //border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;

      //input{
      //  color: #a8edea;
      //}
    }

    .chkbox-2{
      width: 50px;
      height: 100%;
      padding: 0;
      margin-left: 40px;
      //border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .btn{
      width: 50px;
      height: 100%;
      padding: 0;
      //margin: 0 40px;
      //border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-2{
      width: 50px;
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #a8edea;
    }

    .img{
      width: 80px;
      height: 100%;
      padding: 0;
      //margin: 0 40px;
      //border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .songDetails{
      width: 200px;
      height: 100%;
      padding: 0;
      margin-right: 0;
      margin-left: 40px;
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;

      .div1{
        font-size: 15px;
        font-weight: bold;
      }

      .div2{
        font-size: 10px;
      }
    }



    .dropdownMenu{
      margin: 0;
      padding-right: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #arrowMenu{
        width: 90px;
        height: 120px;
        background-color: #fff;
        position: relative;
        border: 2px solid #333;

      }

      #arrowMenu:after, #arrowMenu:before {
        border:solid transparent;
        content:' ';
        height: 0;
        left: 100%;
        position: absolute;
        width: 0;

      }

      #arrowMenu:after{
        border-width: 10px;
        border-left-color: #fff;
        top: 20px;

      }

      #arrowMenu:before{
        border-width: 12px;
        border-left-color: #000;
        top: 18px;

      }


      li{
        list-style: none;
        font-size: 10px;
      }
    }



    .songLength{
      width: 70px;
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-left: 120px;

    }

    .more{
      width: 70px;
      height: 100%;
      padding-left: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-left: 120px;
      




    }

  }

  .songItem{
    width: 100%;
    height: 5vh;
    padding: 0;
    margin: 0 auto;
    display: flex;
    //justify-content: space-around;

    .chkbox{
      width: 50px;
      height: 100%;
      padding: 0;
      //border: 1px solid blue;
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;


    }

    .chkbox-2{
      width: 50px;
      height: 100%;
      padding: 0;
      margin-left: 40px;
      //border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .btn{
      width: 50px;
      height: 100%;
      padding: 0;
      color: gray;
      //margin: 0 40px;
      //border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-2{
      width: 50px;
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rosybrown;
    }

    .img{
      width: 80px;
      height: 100%;
      padding: 0;
      //margin: 0 40px;
      //border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .songDetails{
      width: 170px;
      height: 100%;
      padding: 0;
      margin-right: 0;
      margin-left: 40px;
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;

      .div1{
        font-size: 15px;
        font-weight: bold;
      }

      .div2{
        font-size: 10px;
      }
    }

    .songLength{
      width: 200px;
      height: 100%;
      padding-left: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-left: 120px;

    }

    //.more{
    //  width: 70px;
    //  height: 100%;
    //  padding: 0;
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  margin-left: 120px;

      //.testDiv{
      //  display: flex;
      //  flex-direction: column;
      //  justify-items: center;
      //
      //
      //  li{
      //    list-style: none;
      //    font-size: 13px;
      //  }
      //}
      //
      //
      //i{
      //  margin-left: 120px;
      //}


      //.dropdownMenu{
      //  display: flex;
      //  flex-direction: column;
      //  margin: 0 auto;
      //
      //
      //
      //  #arrowMenu{
      //    width: 90px;
      //    height: 120px;
      //    background-color: #fff;
      //    position: relative;
      //    border: 1px solid #333;
      //    display: flex;
      //    flex-direction: column;
      //
      //
      //  }
      //
      //  #arrowMenu:after, #arrowMenu:before {
      //    border:solid transparent;
      //    content:' ';
      //    height: 0;
      //    left: 100%;
      //    position: absolute;
      //    width: 0;
      //
      //  }
      //
      //  #arrowMenu:after{
      //    border-width: 10px;
      //    border-left-color: #fff;
      //    top: 20px;
      //
      //  }
      //
      //  #arrowMenu:before{
      //    border-width: 12px;
      //    border-left-color: #000;
      //    top: 18px;
      //
      //  }
      //
      //
      //
      //
      //  li{
      //    list-style: none;
      //    font-size: 10px;
      //  }
      //}



  }

}


